<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.quickstart.database">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".ui.upload2.MyDownloadService"
            android:exported="false"/>

        <service
            android:name=".ui.upload2.MyUploadService"
            android:exported="false" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.activity.NewPostActivity" >

        </activity>

        <activity android:name=".ui.activity.SignInActivity">

        </activity>
        <activity android:name=".ui.activity.PostDetailActivity">

        </activity>

        <activity android:name=".ui.activity.PostCommentsActivity" >

        </activity>

        <activity android:name=".ui.activity.MovingMarkerActivity" >

        </activity>

        <activity android:name=".ui.activity.MapsSwipeActivity" >

        </activity>

        <activity android:name=".ui.activity.ListViewActivity" >

        </activity>


        <!--chavel stuff-->

        <activity android:name=".chavel.activity.NewRouteActivity" >

        </activity>

        <activity android:name=".chavel.activity.HolderActivity" >

        </activity>

        <activity android:name=".ui.upload.NewPinnerActivity" >

        </activity>

        <activity android:name=".ui.upload2.UploadActivity" >

        </activity>

        <activity android:name=".ui.viewpins.timeline.BottomSheetWithMapAndPinActivity" >

        </activity>


    </application>

</manifest>
